body {
    background-color: white;
}

h1 {
    color: #EAEAEA;
}

h2 {
    color: #EAEAEA;
}

table {
    background-color: blue;
}

.divGeneral {
    margin: 185px;
    background-color: burlywood;
}